extends layout

block content

    // Setup Nav
    ul
        li
            a(href='/') Login
        li
            a.active(href='/dashboard') Dashboard
        li
            a(href='/question') question
        li
            a(href='/quiz') quiz
        li
            a(href='/more') More



    .maincontent
        .spacer Choose question or quiz

        .tab
            button.tablinks.active(onclick="openOuterTab(event, 'Question')") question
            |
            button.tablinks(onclick="openOuterTab(event, 'Quiz')") quiz

        #Question.outertabcontent
            .tab
                button.innertablinks.active(onclick="openInnerTab(event, 'Random')") Random question
                |
                button.innertablinks(onclick="openInnerTab(event, 'SC')") Specific Category
                |
                button.innertablinks(onclick="openInnerTab(event, 'CQ')") Custom question
            // Tab content
            #Random.innertabcontent
                h3 Random question
                |
                p
                    | A random question can consist of all categories and all levels of difficulty.
                    br
                    | To request a question press the button below

                button.btn.btn-primary(onclick="getSingleQuestion()") Get Random question
            #SC.innertabcontent
                h3 Specific question
                |
                p
                    | Select a category from the options below to start a specific question
                    br
                    | meh
                button.btn.btn-primary(onclick="getSingleQuestion('species')") Species
                button.btn.btn-primary(onclick="getSingleQuestion('planets')") Planets
                button.btn.btn-primary(onclick="getSingleQuestion('people')") People
                button.btn.btn-primary(onclick="getSingleQuestion('vehicles')") vehicles
                button.btn.btn-primary(onclick="getSingleQuestion('starships')") Starships
                button.btn.btn-primary(onclick="getSingleQuestion('films')") Films
            #CQ.innertabcontent
                h3 Community question
                |
                p
                    | Get ready to answer a question created by the community
                    br
                    | meh
                button.btn.btn-primary(onclick="getSingleQuestion('custom')") Get community question
        #Quiz.outertabcontent
            .tab
                button.innertablinks.active(onclick="openInnerTab(event, 'RandomQuiz')") Random quiz
                |
                button.innertablinks(onclick="openInnerTab(event, 'SpecificQuiz')") Specific Category
                |
                button.innertablinks(onclick="openInnerTab(event, 'CustomQuiz')") Community quiz
            // Tab content
            #RandomQuiz.innertabcontent
                h3 Random question
                |
                p
                    | A random question can consist of all categories and all levels of difficulty.
                    br
                    | To request a question press the button below

                button.btn.btn-primary(onclick="getSingleQuiz()") Get Random quiz
            #SpecificQuiz.innertabcontent
                h3 Specific question
                |
                p
                    | Select a category from the options below to start a specific question
                    br
                    | meh
                button.btn.btn-primary(onclick="getSingleQuiz('species')") Species
                button.btn.btn-primary(onclick="getSingleQuiz('planets')") Planets
                button.btn.btn-primary(onclick="getSingleQuiz('people')") People
                button.btn.btn-primary(onclick="getSingleQuiz('vehicles')") vehicles
                button.btn.btn-primary(onclick="getSingleQuiz('starships')") Starships
                button.btn.btn-primary(onclick="getSingleQuiz('films')") Films
            #CustomQuiz.innertabcontent
                h3 Custom question
                |
                p
                    | Get ready to answer a question created by the community
                    br
                    | meh
                button.btn.btn-primary(onclick="") Not implemented yet
