extends layout

block content


  ul
    li
      a.active(href='/') Login
    li
      a(href='/dashboard') Dashboard
    li
      a(href='/question') question
    li
      a(href='/quiz') quiz
    li
      a(href='/more') More



  .maincontent



    .tab
      button.tablinks.active(onclick="openCity2(event, 'Login')") Login
      |
      button.tablinks(onclick="openCity2(event, 'Register')") Register

    // Tab content
    #Login.tabcontent
      h1 Login
      p Welcome to #{title}
      form(method='GET' action='/dashboard')
        div.form-group
          label(for='name') user iD:
          input#name.form-control(type='text', placeholder='user iD' name='userID')
        button.btn.btn-primary(type='submit') Login

    #Register.tabcontent
      h1 Register
      p Get your Userid here
      form(method='POST' action='/dashboard')
        div.form-group
        button.btn.btn-primary(type='submit') Register
