doctype html
html
  head
    - userID = getSessionUserID()
    - score = getSessionPlayerScore()
    title= title
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/clientsideJS.js')
    link(href='https://fonts.googleapis.com/css?family=Orbitron&display=swap', rel='stylesheet')
  body

    .loading

        | Please wait until Server serve the Answer
        .loader
    // Setup PlayerScore
    .info
        | Player Nr : #{userID}
        br
        | Playerscore :
        br
        | #{score}

    .container
      .text-container
        h2 #{title}
        p
          | Welcome to Quiz-Wars.
          br
          |     Feel free to try one of the Options listed below.
          br
          |     More detailed informaionen will displayed if the option is selected

    #customStatus
        | Your custom question has been saved
        br
        #userInput
        button.btn.btn-primaryWP(onclick="goToDashboard()") ok, got it!
    block content
