extends layout

block content

    // Setup Nav


    ul
        li
            a(href='/') Login
        li
            a.active(href='/dashboard') Dashboard
        li
            a(href='/question') question
        li
            a(href='/quiz') quiz
        li
            a(href='/more') More



    .maincontent
        .spacer questions
        .tab
            button.tablinks(onclick="openCity(event, 'Random')") Random question
            |
            button.tablinks(onclick="openCity(event, 'SC')") Specific Category
            |
            button.tablinks(onclick="openCity(event, 'CQ')") Custom question
        // Tab content
        #Random.tabcontent
            h3 Random question
            |
            p
                | A random question can consist of all categories and all levels of difficulty.
                br
                | To request a question press the button below

            button.btn.btn-primary(onclick="getSingleQuestion()") Get Random question
        #SC.tabcontent
            h3 Specific question
            |
            p
                | Select a category from the options below to start a specific question
                br
                | meh
            button.btn.btn-primary(onclick="getSingleQuestion('species')") Species
            button.btn.btn-primary(onclick="getSingleQuestion('planets')") Planets
            button.btn.btn-primary(onclick="getSingleQuestion('people')") People
            button.btn.btn-primary(onclick="getSingleQuestion('vehicles')") vehicles
            button.btn.btn-primary(onclick="getSingleQuestion('starships')") Starships
            button.btn.btn-primary(onclick="getSingleQuestion('films')") Films
        #CQ.tabcontent
            h3 Custom question
            |
            p
                | Get ready to answer a question created by the community
                br
                | meh
            button.btn.btn-primary(onclick="getSingleQuestion('custom')") Get Custom question
