extends layout

block content

    script(type='text/javascript').


        showEditEntry();
        let qID = !{JSON.stringify(qID)};


        let overlay = document.getElementById("userInput")
        let div = document.createElement("div");
        div.style.padding = "1rem";
        div.style.marginLeft = "1rem";
        div.style.marginTop = "1rem";
        div.style.marginBottom = "1rem";
        div.style.height = "auto";
        div.style.color = "white";
        div.style.fontFamily = "Orbitron"
        div.innerHTML = "Frage mit der ID : " + qID + "<br />" + "wurde gelöscht!";
        overlay.appendChild(div);

    ul
        li
            a.active(href='/') Login
        li
            a(href='/dashboard') Dashboard
        li
            a(href='/question') question
        li
            a(href='/quiz') quiz
        li
            a(href='/more') More



    .maincontent