extends layout

block content

    // Setup Nav
    script(type='text/javascript').

        {
            let allUsers = !{JSON.stringify(users['users'])}
            setTimeout(function () {
                let myDom = document.getElementById("Scoreboard")
                for (let i = 0; i < allUsers.length; i++) {
                    console.log(allUsers[i].id)
                    console.log(allUsers[i].score)
                    let div = document.createElement("div");
                    div.style.width = "calc(30% - 4rem)";
                    div.style.padding = "1rem";
                    div.style.marginLeft = "1rem";
                    div.style.marginTop = "1rem";
                    div.style.marginBottom = "1rem";
                    div.style.height = "2rem";
                    div.style.background = "#ccc";
                    div.style.color = "black";
                    div.innerHTML = "id: " + allUsers[i].id + " Score : " + allUsers[i].score;
                    myDom.appendChild(div);
                }
            }, 500); // 5 seconds
        }
        window.onscroll = function () {
            myFunction()
        };
        function myFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("nav").className = "slideUp";

            }
            else
            {
                document.getElementById("nav").className = "";
            }
        }
    ul#nav
        li
            a(href='/') Login
        li
            a(href='/dashboard') Dashboard
        li
            a(href='/question') question
        li
            a(href='/quiz') quiz
        li
            a.active(href='/more') More

    .maincontent
        .spacer More
        .tab
            button.tablinks.active(onclick="openTab(event, 'Scoreboard')") Show Scoreboard
            |
            button.tablinks(onclick="openTab(event, 'AC')") Add Custom question
            |
            button.tablinks(onclick="openTab(event, 'UC')") update / delete Custom question
            |
        // Tab content
        #Scoreboard.tabcontent
            h3 Scoreboard
            |
            p
                | Below you can find the scoreboard with the players of the community
                br
                | Get points by answering individual questions or test your knowledge in a quiz

        #AC.tabcontent
            h3 Add Custom question
            |
            p
                | Fill in all the fields below to submit your individual question
                br

                form(method='POST' action='/more/addquestion')
                    div.form-group
                        label(for='qText') questiontext:
                        br
                        input#qText.form-control(type='text', placeholder='questiontext' name='qText')
                        br
                        br
                        label(for='a0') Answer 1:
                        br
                        input#a0.form-control(type='text', placeholder='Answertext' name='a0')
                        br
                        label(for='a1') Answer 2:
                        br
                        input#a1.form-control(type='text', placeholder='Answertext' name='a1')
                        br
                        label(for='a2') Answer 3:
                        br
                        input#a2.form-control(type='text', placeholder='Answertext' name='a2')
                        br
                        label(for='a3') Answer 4:
                        br
                        input#a3.form-control(type='text', placeholder='Answertext' name='a3')
                        br
                        br
                        label(for='ra') Right Answer:
                        br
                        input#ra.form-control(type='text', placeholder='Right Answer Number (1-4)' name='ra')
                    button.btn.btn-primary(type='submit') Create custom question
        #UC.tabcontent
            h3 update Custom question
            |
            p
                | Edit the entries of the fields to change one of your created questions
                br
                | meh
            script(type='text/javascript').
                setTimeout(function () {
                    let myDom = document.getElementById("UC")
                    let allUsers = !{JSON.stringify(playerQuestions['questions'])}
                    let qCount = 0;

                    for (let j = 0; j < allUsers.length; j++) {
                        let qdiv = document.createElement("div");
                        qdiv.setAttribute("id", "customQuestion" + qCount);
                        qdiv.style.height = "auto";
                        qdiv.style.width = "auto";
                        qdiv.style.marginTop = "2rem";
                        qdiv.style.padding = "4rem";
                        qdiv.style.background = "#ccc";
                        qdiv.style.color = "#000000";
                        myDom.appendChild(qdiv);

                            let myTest = allUsers[j];
                            let nochTest = myTest[0];
                            let answers = nochTest[1]


                            let qID = document.createElement('input')
                            let spanIDText = document.createElement('span')
                            spanIDText.innerHTML = "Frage iD #";
                            spanIDText.setAttribute('class', "orbi");
                            qID.setAttribute('class', "qID");
                            qID.setAttribute('name', 'qID')
                            qID.setAttribute('readonly',"readonly")
                            qID.value = "" + nochTest[4];

                            let closebtn = document.createElement('button')
                            closebtn.innerHTML = '✖';
                            closebtn.setAttribute("class", "topright");
                            closebtn.setAttribute("type", "submit");
                            closebtn.onclick = function () {
                                form.setAttribute('action', '/more/deletequestion')
                                document.forms["customQuestion" + qCount].submit();
                                alert("ÖH ? ");
                                return false;
                            };

                            let text0 = document.createElement('div')
                            let input0 = document.createElement('textarea')
                            input0.setAttribute('class', "orbi");
                            input0.setAttribute('name', 'qText')

                            text0.innerHTML = "Frage: ";
                            input0.value = "" + nochTest[0];



                            let text1 = document.createElement('div')
                            let input1 = document.createElement('input')
                            input1.setAttribute('class', "orbi");
                            input1.setAttribute('name', 'a1')

                            text1.innerHTML = "Antwort 1: ";
                            input1.value = "" + answers.a1;
                            let text2 = document.createElement('div')
                            let input2 = document.createElement('input')
                            input2.setAttribute('class', "orbi");
                            input2.setAttribute('name', 'a2')
                            text2.innerHTML = "Antwort 2: ";
                            input2.value = "" + answers.a2;
                            let text3 = document.createElement('div')
                            let input3 = document.createElement('input')
                            input3.setAttribute('class', "orbi");
                            input3.setAttribute('name', 'a3')
                            text3.innerHTML = "Antwort 3: ";
                            input3.value = "" + answers.a3;
                            let text4 = document.createElement('div')
                            let input4 = document.createElement('input')
                            input4.setAttribute('class', "orbi");
                            text4.innerHTML = "Antwort 4: ";
                            input4.value = "" + answers.a4;
                            input4.setAttribute('name', 'a4')
                            let text5 = document.createElement('div')
                            let input5 = document.createElement('input')
                            input5.setAttribute('class', "orbi");
                            text5.innerHTML = "Richtige Antwort: ";
                            input5.value = "" + nochTest[2];
                            input5.setAttribute('name', 'ra')



                            let div = document.createElement("div");
                            let spacer = document.createElement("div");

                            div.style.fontFamily = "Orbitron"
                            div.style.height = "auto";
                            div.style.background = "#ccc";
                            div.style.color = "black";
                            div.innerHTML = "Frage: " + nochTest[0] + "<br />" + " Antwort 1 : " + answers.a1 + "<br />" + " Antwort 2 : " + answers.a2 + "<br />" + " Antwort 3 : " + answers.a3  + "<br />" + " Antwort 4 : " + answers.a4  + "<br />" + " Richtige Antwort : " + nochTest[2];
                            let myQDom = document.getElementById("customQuestion" + qCount)

                            let button = document.createElement('button');
                            button.innerHTML = 'Change this question';
                            button.setAttribute('type', "submit");

                            let form = document.createElement("form");
                            form.setAttribute("id", "customQuestion" + qCount);
                            button.setAttribute("class", "btn btn-primary");

                            form.setAttribute('method', "GET");
                            form.setAttribute('action', '/more/changequestion')

                            setTimeout(function () {

                            myQDom.appendChild(form);
                            // Q-Text

                            form.appendChild(spanIDText);
                            form.appendChild(qID);
                            form.appendChild(closebtn);
                            form.appendChild(text0);
                            form.appendChild(input0);

                            // 4 Answers
                            form.appendChild(text1);
                            form.appendChild(input1);
                                form.appendChild(text2);
                                form.appendChild(input2);
                                    form.appendChild(text3);
                                    form.appendChild(input3);
                                        form.appendChild(text4);
                                        form.appendChild(input4);
                                            form.appendChild(text5);
                                            form.appendChild(input5);
                                            form.appendChild(spacer)
                            form.appendChild(button);

                            }, 500); // 5 seconds
                            qCount++
                        }


                    //}
                }, 500); // 5 seconds

