extends layout

block content


    ul
        li
            a.active(href='/') Login
        li
            a(href='/dashboard') Dashboard
        li
            a(href='/question') question
        li
            a(href='/quiz') quiz
        li
            a(href='/more') More



    .maincontent



        p.big The requested user id wasnt found on the Database.
        |   please register a user and get your id
        br
        br
        button.btn.btn-primary(onclick="showLogin()") ok, got it!